*.pyc
*.json
*.csv
*.txt
*.sql

inputs/*
!inputs/Model.py
!inputs/InitialConditions.py
!inputs/Config.default.py

metrics/*.txt
metrics/*.csv

.DS_Store
.project
.pydevproject
.ropeproject
.ropeproject/*
.tm_properties